---
layout: layouts/item.hbs

title: "Arcade"
permalink: /arcade/index.html
date: 2020-08-27
tags: ["words", "project"]
author: Brian Muenzenmeyer
twitter: bmuenzenmeyer
class: ""
summary: "Made for Megan's birthday, 2020"
customCSS: "arcade"
comments: false
games:
    - name: billiards
      url: https://cdpn.io/bmuenzenmeyer/debug/RwRoxer
      img: https://trello-attachments.s3.amazonaws.com/5f91634f10133f16a69bdf3c/599x410/c054b37d86e22d1c3f9c349870f3f2fe/image.png
    - name: chip's challenge
      url: https://archive.org/details/chips_challenge_windows_3.x
      img: https://trello-attachments.s3.amazonaws.com/5f4868b79bb44d7b9c5c8ba9/521x396/1821c2f661b95719f1e62ca84f85c669/image.png
    - name: doom
      url: https://archive.org/details/DoomsharewareEpisode
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f706ae7cd1429b19513/9ae32fd572abe0ef5f2185ef87c26263/image.png
    - name: fuji golf
      url: https://archive.org/details/win31_festival_FUJIGOLF
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b80da3a04872dbd0bd89a/b90d323764366d24085c681ffc7d074a/image.png
    - name: free cell
      url: https://archive.org/details/win3_FreeCell
      img: https://trello-attachments.s3.amazonaws.com/5f486a16c7d7f51019ce33e1/643x480/7eccc48624014ee3989237c4c3a09b4f/image.png
    - name: hocus pocus
      url: https://archive.org/details/HocusPocus
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f6ec350dc2def6cd9b4/0e8294d528ee7cb69299f6ee34b0d5f1/image.png
    - name: i will stand
      url: https://cdpn.io/bmuenzenmeyer/debug/mdEOpzP
      img: https://trello-attachments.s3.amazonaws.com/5f9162632e847a6344d65996/959x897/1a354a982493f1fb6a98eb28a603bd7c/image.png
    - name: incredible machine
      url: https://archive.org/details/the_incredible_machine_1992
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f424ad2b936033c79d9ee67/61c73fbd4d0425bd6deb68f371862582/image.png
    - name: minesweeper
      url: https://archive.org/details/win3_Mineswee
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7ff53576204b388d92ff/db38595d185a0ceef4a4b5d740bcee66/image.png
    - name: oregon trail
      url: https://archive.org/details/msdos_Oregon_Trail_Deluxe_The_1992
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f822e2f778c2b84a8f1/45ffc3f9c3feeaa179dfc61bfff967ca/image.png
    - name: pinball dreams
      url: https://archive.org/details/msdos_Pinball_Dreams_1992
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f75d0fbf86d13436ac9/5425b145cefcb89c11d1d986d88ea930/image.png
    - name: pinball dreams 2
      url: https://archive.org/details/msdos_Pinball_Dreams_II_1994
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f75d0fbf86d13436ac9/f54c3cdd78115a16599d70fa73ff4bff/image.png
    - name: pipedream
      url: https://archive.org/details/win3_PipeDr3x
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b807ed4dd65203aa6d00f/56561809399081e81c095f73aa87745e/image.png
    - name: rattler race
      url: https://archive.org/details/win3_RattlerR
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7ff2630f26521de33ee2/6e70cbfbc05052400ca44584b34a3ed9/image.png
    - name: rodents revenge
      url: https://archive.org/details/rodents_revenge
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f79bcc1317b75cd9ca8/4a463b4c6b18a0d1c407786a5c75b942/image.png
    - name: ski free
      url: https://archive.org/details/win3_SKIFREE
      img: https://trello-attachments.s3.amazonaws.com/50a3dcc6da3a034a63001d28/5f3b7f583f18807e73ec3a3c/6f153ba812f9b8f0047c4c2de75511d2/image.png
---
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
{{#each games}}
<div class="game">
    <h3><a href="{{this.url}}">{{this.name}}</a></h3>
    <a href="{{this.url}}"><img src="{{this.img}}" alt="{{this.name}}" /></a>
</div>
{{/each}}